# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.direnv
.envrc
.pre-commit-config.yaml
.luarc.json
result
_to_migrate

# End of https://www.toptal.com/developers/gitignore/api/direnv
