layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:/Users/aj.vazquez/Library/Application Support/org.Zellij-Contributors.Zellij/plugins/zjstatus.wasm" {
                format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
                format_right "{datetime}"
                format_space ""

                hide_frame_for_single_pane "true"
                // base00: "#1F1F28"
                // base01: "#2A2A37"
                // base02: "#223249"
                // base03: "#727169"
                // base04: "#C8C093"
                // base05: "#DCD7BA"
                // base06: "#938AA9"
                // base07: "#363646"
                // base08: "#C34043"
                // base09: "#FFA066"
                // base0A: "#DCA561"
                // base0B: "#98BB6C"
                // base0C: "#7FB4CA"
                // base0D: "#7E9CD8"
                // base0E: "#957FB8"
                // base0F: "#D27E99"
                mode_normal        "#[fg=#363646,bg=#7E9CD8] {name} "
                mode_locked        "#[fg=#363646,bg=#FFA066] {name} "
                mode_resize        "#[fg=#363646,bg=#DCA561] {name} "
                mode_pane          "#[fg=#363646,bg=#938AA9] {name} "
                mode_tab           "#[fg=#363646,bg=#938AA9] {name} "
                mode_scroll        "#[fg=#363646,bg=#D27E99] {name} "
                mode_enter_search  "#[fg=#363646,bg=#957FB8] {name} "
                mode_search        "#[fg=#363646,bg=#D27E99] {name} "
                mode_rename_tab    "#[fg=#363646,bg=#C8C093] {name} "
                mode_rename_pane   "#[fg=#363646,bg=#C8C093] {name} "
                mode_session       "#[fg=#363646,bg=#89B4FA] {name} "
                mode_move          "#[fg=#363646,bg=#DCA561] {name} "
                mode_prompt        "#[fg=#363646,bg=#727169] {name} "
                mode_tmux          "#[fg=#363646,bg=#DCD7BA] {name} "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Madrid"
            }
        }
    }
    tab {
        pane
    }
}
