layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // FIXME: Zellij wants absolute path only
            plugin location="file:/Users/aj.vazquez/Library/Application Support/org.Zellij-Contributors.Zellij/plugins/statusbar.wasm"
        }
    }

    pane_template name="neovim" {
        command "nu"
        args "-c" "nvim --listen $env.NVIM_SERVER"
    }

    tab name="editor" focus=true {
        neovim name="neovim" borderless=true
    }

    tab name="terminal" {
        pane
        pane size="20%"
    }
}
