keybinds {
    pane {
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "f" { TogglePaneFrames; SwitchToMode "Normal"; }
    }
    scroll {
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        unbind "u"
        unbind "d"
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
    }
    search {
        unbind "d"
        unbind "u"
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
    }
    tmux clear-defaults=true {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
        bind r"\" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "." { SwitchToMode "RenamePane"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "h" "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "<" { PreviousSwapLayout; }
        bind ">" { NextSwapLayout; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "&" { CloseTab; SwitchToMode "Normal"; }
        bind "P" { SwitchToMode "Pane"; }
        bind "T" { SwitchToMode "Tab"; }
        bind "M" { SwitchToMode "Move"; }
        bind "R" { SwitchToMode "Resize"; }
        bind "S" { SwitchToMode "Session"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "b" {
            Run "bash" "-c" "gopass show -C $(gopass ls --flat | fzf)" {
                name "gopass"
                direction "Down"
                floating true
                close-on-exit true
            };
        }
    }
    shared_except "tmux" "locked" {
        unbind "Ctrl b"
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
}
